# Node.js dependencies
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
debug.log

# Environment variables
.env
.env.test
.env.production
.env.local

# Build output
dist/
build/
.out/

# Editor/IDE files
.vscode/
.idea/
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Cache
.cache/
.nyc_output/
coverage/
